th{
  width: fit-content;
  padding:10px;
  background-color: var(--petstore-secondary);
}

.bt-acoes{
  height: fit-content;
  width: fit-content;
  border-width: 0px;
  background-color: var(--petstore-secondary);
}

.recolorir{
  background-color: rgb(212, 227, 246);
}

.linha-branca{
  background-color: var(--petstore-secondary);
}
